@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Vazirmatn", "IRANSans", system-ui, sans-serif;
}
